@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  THE FIX IS HERE:
  This explicitly removes the default browser margin from the body and html tags,
  and prevents any accidental horizontal scrollbars.
*/
html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  @apply bg-black text-foreground;
}